:root {
    --primary: rgb(99, 4, 99);
    --secondary: rgb(137, 0, 150);
    --secondaryTransluscent: rgb(137, 0, 150, 0.3);
    --tertiary: lightgrey;
    --text: black;
    --button-text: white;
    --background: white;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

#previousScores {
    color: var(--secondary);
    text-decoration: none;
}

#startCard {
    display: block;
    text-align: center;
}

#startCard h1 {
    margin: 10px;
}

#startCard p {
    font-size: 16px;
    margin: 0px 20% 8px 20%;
}

#startCard button {
    font-size: 20px;
    margin: 3px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: var(--button-text);
}

#startCard button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

#questionCard {
    display: block;
}

#question {
    display: block;
    text-align: center;
    margin: 0 25%;
}

#answers {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: upper-alpha;
    list-style-position: inside;
    font-size: 16px;
    padding: 0%;
    /* margin-right: 100%; */
}

#answers li {
    margin: 3px 50% 3px 25%;
    padding: 5px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--button-text);
    /* max-height: 50px; */
    text-align: start;
}

#answers li:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

#endCard {
    display: block;
    text-align: center;
    margin: 0px 25%;
}

#endCard h2 {
    margin: 10px;
}

#endCard p {
    text-align: center;
    font-size: 16px;
    margin: 0px 15%;
}

#submit {
    font-size: 16px;
    margin: 3px;
    padding: 4px 12px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: var(--button-text);
}

#submit:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

#correct {
    display: block;
    text-indent: 10px;
    font-style: italic;
    /* max-height: 20px; */
    margin-left: 25%;
    margin-right: 20%;
    font-size: 20px;
    border-top: 2px solid var(--tertiary);
    color: var(--tertiary);
    /* margin: 10px 100%; */
    /* margin: 100px 100px; */
}

#failCard {
    display: block;
    text-align: center;
    margin: 0px 25%;
}

#failCard h2 {
    margin: 10px;
}

#failCard p {
    text-align: center;
    font-size: 16px;
    margin: 0px 15%;
}

#failCard button {
    font-size: 20px;
    margin: 3px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: var(--button-text);
}

#scoresCard {
    display: block;
    margin: 5% 30% 0%;

}

#scoresCard ol{
    padding: 0%;
}

#scores li {
    max-width: 140px;
    margin: 3px;
    background-color: var(--secondaryTransluscent);
    list-style-position: inside;
    /* text-align: start; */
}

.btn {
    font-size: 20px;
    margin: 3px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: var(--button-text);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--secondary);
    cursor: pointer;
}