:root {
    --primary: #053225;
    --secondary: #169873;
    --secondaryTransluscent: rgb(22, 152, 115, 0.3);
    --tertiary: #CCDBDC;
    --text: #14110F;
    --button-text: #CCDBDC;
    --background: #666A86;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
    font-size: 16px;
}

#previousScores {
    color: var(--secondary);
    text-decoration: none;
}

#startCard {
    display: block;
    text-align: center;
}

h1 {
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h1,h2 {
    margin: 10px;
}

p {
    font-size: 16px;
    margin: 0px 20% 8px 20%;
}

.btn {
    font-size: 16px;
    margin: 3px;
    padding: 4px 12px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: var(--button-text);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

#question {
    display: block;
    text-align: center;
    margin: 0 25%;
}

#answers {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: upper-alpha;
    list-style-position: inside;
    font-size: 16px;
    padding: 0%;
}

#answers li {
    margin: 3px 50% 3px 25%;
    padding: 5px;
    padding-right: 40px;
    /* border-radius: 5px;
    background-color: var(--primary);
    color: var(--button-text); */
    /* max-height: 50px; */
    text-align: start;
}

#endCard {
    display: block;
    text-align: center;
    margin: 0px 25%;
}

#correct {
    display: block;
    text-indent: 10px;
    font-style: italic;
    margin-left: 25%;
    margin-right: 20%;
    border-top: 2px solid var(--tertiary);
    color: var(--tertiary);
}

#failCard {
    display: block;
    text-align: center;
    margin: 0px 25%;
}

#scoresCard {
    display: block;
    margin: 5% 30% 0%;

}

#scoresCard ol{
    padding: 0%;
}

#scores li {
    max-width: 140px;
    margin: 3px;
    padding-right: 50%;
    background-color: var(--secondaryTransluscent);
    list-style-position: inside;
}

@media screen and (max-width: 768px) {
    header, p, label, .btn, li{
        font-size: 12px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }
    
    #initials {
        width: 130px;
    }
}

@media screen and (max-width: 425px) {
    header, p, label, .btn, li {
        font-size: 6px;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 10px;
    }

    .btn {
        margin: 1px;
        padding: 2px 6px;
        border-radius: 2px;
    }
    
    #initials {
        width: 75px;
        height: 8px;
    }
}